<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/zc.jpg" alt="photo"/ height="130" width="45">
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Chen Zhang 张晨
			</h3>
			<p>
			 I am currently a researcher at SenseTime. I obtained my MS degree in 2022 at Beijing Jiaotong University (BJTU) in <a href="http://mepro.bjtu.edu.cn/researcher.html"> MePro</a>, advised by Prof. <a href="https://rmcong.github.io/">Runmin Cong</a>.
		        </p>
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			Deep Learning; Computer Vision
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			
			
	</div>
</div>
